@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(90deg #141318 0%, #09070B 100%);
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24232C;
    width: 540px;
    height: 80px;
    padding-inline: 32px;
}

.password {
    font-size: 32px;
    font-weight: 700;
}